name: Docker Image CI

on:
  push:
    branches: [ main ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      #packages: write # Needed to push packages to ghcr.io

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - uses: coursier/cache-action@v6
    - uses: coursier/setup-action@v1
      with:
        jvm: temurin:21
        apps: sbt bloop sbtn

    - name: Run SBT stage
      run: sbt clean stage

#    - name: Log in to the GitHub Container Registry
#      uses: docker/login-action@v3
#      with:
#        registry: ghcr.io
#        username: ${{ github.repository_owner }}
#        password: ${{ secrets.GH_PAT }}
#
#    - name: Build and push Docker image
#      uses: docker/build-push-action@v5
#      with:
#        context: . # The Dockerfile is in the root
#        push: true
#        tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest
